<aside class="col-2 docs-sidebar">
  <nav class="docs-nav">
    <ul class="menu">
      <!-- li class="menu-item"><a href="/style-guide">Style Guide</a></li -->
      <li class="menu-item"><a href="/typography">Typography</a></li>
      <li class="menu-item"><a href="/grid">Grid</a></li>
      <li class="menu-item"><a href="/buttons">Buttons</a></li>
      <li class="menu-item"><a href="/navigation">Navigation</a></li>
      <li class="menu-item"><a href="/forms">Forms</a></li>
      <li class="menu-item"><a href="/tables">Tables</a></li>
      <li class="menu-item"><a href="/feedback">Feedback</a></li>
      <!-- li class="menu-item"><a href="/utils">Utils</a></li -->
    </ul>
  </nav>
</aside> <!-- .docs-sidebar -->
