/*
 * Buttons 
 */

.wb-button-static {
	display: inline-block;
	padding: .5em 2em;
	border: 0;
	text-decoration: none;
	text-align: center;
	font-family: inherit;
	font-size: inherit;
	white-space: nowarp;
	line-height: 1;
	cursor: pointer;
	border-radius: $wb-btn-border-radius;

	&:focus {
		outline: none;	
	}
}

@mixin button($background-color, $text-color, $border-color) {
	color: $text-color;
	background-color: $background-color;
	border: 1px solid $border-color;

	&:hover {
		background-color: darken($background-color, 5%);
		color: $text-color;
		border-color: lighten($border-color, 10%);
	}

	&:active {
		background-color: darken($background-color, 2%);
	}
}

a.wb-button
button.wb-button,
.wb-button,
 {
	@extend .wb-button-static;

	@include button($wb-btn-default-bg, $wb-btn-default-color, lighten($wb-btn-default-color, 40%));
}


a.wb-button-primary,
button.wb-button-primary,
.wb-button-primary {
	@extend .wb-button;

	border: 1px solid lighten($wb-btn-primary-color, 40%);

	@include button($wb-btn-primary-bg, $wb-btn-primary-color, $wb-btn-primary-bg);
}
