/**
 * Buttons
 */

// Basic btn structure
%btn-static {
  display: inline-block;
  padding: .5em 2em;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  white-space: nowarp;
  line-height: 1;
  cursor: pointer;
  border: 0;
  border-radius: $wb-btn-border-radius;

  &:focus {
    outline: none;
  }
}

// Style the button
@mixin btn($background-color, $text-color, $border-color) {
  color: $text-color;
  background-color: $background-color;
  border: 1px solid $border-color;

  &:hover {
    color: $text-color;
    text-decoration: none;
    background-color: darken($background-color, 5%);
    border-color: darken($background-color, 5%);
  }

  &:active {
    background-color: darken($background-color, 2%);
    border-color: darken($background-color, 2%);
  }
}

a.wb-btn,
button.wb-btn,
.wb-btn {
  @extend %btn-static;

  @include btn($wb-btn-default-bg, $wb-btn-default-color, $wb-btn-default-border);

  // &:hover {
  //   border-color: lighten($wb-btn-default-color, 10%);
  // }
}

a.wb-btn-outline,
button.wb-btn-outline,
.wb-btn-outline {
  @extend %btn-static;

  @include btn($wb-btn-outline-bg, $wb-btn-outline-color, lighten($wb-btn-outline-color, 40%));

  &:hover {
    border-color: lighten($wb-btn-default-color, 10%);
  }
}

a.wb-btn-primary,
button.wb-btn-primary,
.wb-btn-primary {
  @extend %btn-static;

  @include btn($wb-btn-primary-bg, $wb-btn-primary-color, $wb-btn-primary-bg);
}
