/*
 * Navigation 
 */

.wb-main-navigation {}

/* Menu horizontal */
.wb-menu-h {
	@extend .wb-clearfix;

	display: block;

	.wb-menu-item {
		float: left;
		margin-right: 1em;
	}
}

/* Menu vertical */
.wb-menu-v {
}

/* Menu list */
.wb-menu-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
