/**
 * Navigation
 */

// .main-navigation {}

/*
 * Menu horizontal
 */

.wb-menu-bar {
  @extend .clearfix;

  display: block;

  .menu-item {
    float: left;
    margin-right: 1em;
  }
}


/*
 * Menu vertical
 */

// .wb-menu {}

/*
 * Menu list
 */

.wb-menu-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
